@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: normal;
    src: local("Arial Black"), url('../fonts/Arial Black.woff') format('woff');
}

html,
body {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    padding: 0;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #007eff;
}

canvas {
    cursor: pointer;
}

.title {
    cursor: pointer;
    color: #bff4ff;
    font-family: "Arial Black";
    font-size: 7.8125vw;
    font-weight: 900;
    letter-spacing: 0.86px;
    line-height: 80px;
    text-transform: uppercase;
    display: inline-block;
    transition: opacity 0.4s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    line-height: 1.2em;
    box-sizing: border-box;
}

.paused {
    pointer-events: none;
    opacity: 0;
}

@media(min-width: 768px) {
    .title {
        font-size: 5.555vw;
    }
    .title:hover {
        border-color: #bff4ff;
    }
}